/* Reset default margin and padding values */
* {
  margin: 0;
  padding: 0;
}

/* Apply 5mm margin and padding to all divs */
div {
  margin: 5mm;
  padding: 5mm;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Center-align p content and set its width to 80% */
p {
  margin: 2 auto;
}

/* Set body margins */
body {
  margin-left: 10%;
  margin-right: 10%;
}

/* Reset default margin and padding values */
* {
  margin: 0;
  padding: 0;
}

/* Apply 5mm margin and padding to all divs */
div {
  margin: 5mm;
  padding: 5mm;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Center-align p content and set its width to 80% */
p {
  margin: 2 auto;
}

/* Set body margins */
body {
  margin-left: 10%;
  margin-right: 10%;
}

/* Set table styles */
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

/* Set table head styles */
table thead {
  border-bottom: 2px solid #000;
}

/* Set table head cell styles */
table th {
  padding: 8px;
  text-align: left;
}

/* Set table body row styles */
table tbody tr {
  border-bottom: 1px solid #ccc;
}

/* Set table body cell styles */
table td {
  padding: 8px;
  text-align: left;
}

/* Set heading styles */
h1, h2, h3, h4, h5, h6 {
  background-color: #e0f7fa;
  padding: 10px;
  width: 100%;
}

/* Set light blue background color for h elements */
h1, h2, h3, h4, h5, h6 {
  background-color: #e0f7fa;
}


/* Set table column widths */
table th:nth-child(1),
table th:nth-child(2),
table th:nth-child(4),
table th:nth-child(6),
table th:nth-child(9),
table th:nth-child(10) {
  width: 5%;
}

table th:nth-child(3),
table th:nth-child(5) {
  width: 15%;
}

table th:nth-child(7),
table th:nth-child(8),
table th:nth-child(11) {
  width: 10%;
}

/* Set heading styles */
h1, h2, h3, h4, h5, h6 {
  background-color: #e0f7fa;
  padding: 10px;
  width: 100%;
}

/* Set light blue background color for h elements */
h1, h2, h3, h4, h5, h6 {
  background-color: #e0f7fa;
}

/* Set table styles */
table {
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
}

/* Set table cell styles for TXID and Block Hash */
table td:nth-child(3), table td:nth-child(5) {
  word-break: break-all;
}

/* Set form labels styles */
label {
  font-weight: bold;
  font-size: 120%;
}

#stoContainer {
  position: relative;
  white-space: nowrap;
}

.sto-json {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  white-space: pre-wrap;
}

.pagination-nav {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  margin-top: 10px;
}

.pagination-nav a {
  color: #007bff;
  text-decoration: none;
  padding: 8px 16px;
}

.pagination-nav a:hover {
  background-color: #eee;
}

#inputContainersWrapper,
#outputContainersWrapper {
  margin: 0;
  padding: 0;
}

.inputContainer,
.outputContainer {
  margin-top: 1rem;
}

h2 {
  margin-bottom: 0;
}

/* Add custom bottom margin to the "Outputs:" button */
.custom-output-button {
  margin-bottom: 0.5rem;
}

#inputContainers,
#outputContainersContent {
  margin: 0;
  padding: 0;
}

/* Center the headings and give them a background color */
h1, h2, h3 {
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px 0;
}

/* Remove underline from headings */
h1, h2, h3 {
  text-decoration: none;
}

/* Add cursor pointer to indicate that headings are clickable */
h1, h2, h3 {
  cursor: pointer;
}

.tooltip.show {
  max-width: 1000px !important; /* Adjust based on your preferred width */
}

.tooltip-inner {
  max-width: 1000px !important; /* Adjust based on your preferred width */
  overflow: auto;
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before,
.tooltip.bs-tooltip-auto[data-popper-placement^='top'] .tooltip-arrow::before {
  border-top-color: rgba(0, 0, 0, 0.2);
}

.tooltip.bs-tooltip-right .tooltip-arrow::before,
.tooltip.bs-tooltip-auto[data-popper-placement^='right'] .tooltip-arrow::before {
  border-right-color: rgba(0, 0, 0, 0.2);
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before,
.tooltip.bs-tooltip-auto[data-popper-placement^='bottom'] .tooltip-arrow::before {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.tooltip.bs-tooltip-left .tooltip-arrow::before,
.tooltip.bs-tooltip-auto[data-popper-placement^='left'] .tooltip-arrow::before {
  border-left-color: rgba(0, 0, 0, 0.2);
}





/* ... previous CSS rules ... */

/* .preimageToggle {
  text-decoration: none;
  color: inherit;
  display: inline;
}

.hashButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Preimage container styles */
/* .preimageContainer {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
 */
/* Preimage JSON template */
/* .preimageJSON {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%; /* Add this line */
} */


/* Preimage header styles */
/* .preimageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* Preimage index styles */
/* .preimageIndex {
  font-weight: bold;
  margin-right: 1rem;
} */

/* Preimage content styles */
/* .preimageContent {
  margin-top: 1rem;
}

/* Form group styles */
/* .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
} */

/* Form label styles */
/* .form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}  */


 